html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 100%;
  width: 100%;
}
#mapHolder {
  width: 100%;
  height: 76%
}
.holder {
  height: 100%;
  height: 100%;
}
label[for=datepicker] {
  padding-top: 35px;
}
#ui-datepicker-div {
  display: none;
}
#uber {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.car {
  width: 50px;
}
